# System files
.DS_Store
*.swp

# Editor configurations
.vscode/
.idea/

# Temporary files and directories
cache/
log/

.gitkraken/logs/

.gitkraken/error-log.txt

.gitkraken/userusageinfo

.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/repoSettings/dotfiles-81cfe840e88c88a5385b36f464e78d8d
