# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Conner
	email = 81334211+ARealConner@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
